C:\developpement_web\formation_web_dev\Projet4\Starting website\favicon_1.jpg
C:\developpement_web\formation_web_dev\Projet4\Starting website\git.ignore
C:\developpement_web\formation_web_dev\Projet4\Starting website\img\Logo.min.mid..png
